In [1]:
import pandas as pd

# Customers dataset
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'name': ['Pravin', 'Kishore', 'Farhan', 'Rabi'],
    'region': ['Delhi', 'Madurai', 'Kolkata', 'Mumbai']
})

In [2]:
orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 2, 2, 3, 5],  # Note: customer_id=5 doesn't exist in customers
    'product_id': ['A', 'B', 'C', 'A', 'B'],
    'amount': [250, 120, 300, 400, 500]
})

In [3]:
# Products dataset
products = pd.DataFrame({
    'product_id': ['A', 'B', 'C'],
    'product_name': ['Laptop', 'Phone', 'Tablet'],
    'category': ['Electronics', 'Electronics', 'Electronics']
})

In [4]:
# Imagine monthly sales data

jan_sales = pd.DataFrame({
    'order_id': [201, 202],
    'amount': [150, 200]
})

feb_sales = pd.DataFrame({
    'order_id': [203, 204],
    'amount': [300, 400]
})

In [5]:
# Imagine monthly sales data

jan_sales = pd.DataFrame({
    'order_id': [201, 202],
    'amount': [150, 200]
})

feb_sales = pd.DataFrame({
    'order_id': [203, 204],
    'amount': [300, 400]
})

# Concatenate the monthly data
all_sales = pd.concat([jan_sales, feb_sales], ignore_index=True)

print(all_sales)

   order_id  amount
0       201     150
1       202     200
2       203     300
3       204     400

In [6]:
# Merge Customers + Orders

# Left join: keep all customers, attach orders if available
cust_orders = pd.merge(customers, orders,
                       on='customer_id',
                       how='left')

print(cust_orders)

   customer_id     name   region  order_id product_id  amount
0            1   Pravin    Delhi     101.0          A   250.0
1            2  Kishore  Madurai     102.0          B   120.0
2            2  Kishore  Madurai     103.0          C   300.0
3            3   Farhan  Kolkata     104.0          A   400.0
4            4     Rabi   Mumbai       NaN        NaN     NaN

In [7]:
# Add product details to orders

orders_products = pd.merge(orders, products,
                           on='product_id',
                           how='left')

print(orders_products)

   order_id  customer_id product_id  amount product_name     category
0       101            1          A     250       Laptop  Electronics
1       102            2          B     120        Phone  Electronics
2       103            2          C     300       Tablet  Electronics
3       104            3          A     400       Laptop  Electronics
4       105            5          B     500        Phone  Electronics

In [8]:
# Join (using index)

# Set index for join
customers_indexed = customers.set_index('customer_id')
orders_indexed = orders.set_index('customer_id')

# Join the datasets
joined_data = customers_indexed.join(orders_indexed, how='inner')

print(joined_data)

                name   region  order_id product_id  amount
customer_id
1             Pravin    Delhi       101          A     250
2            Kishore  Madurai       102          B     120
2            Kishore  Madurai       103          C     300
3             Farhan  Kolkata       104          A     400