In [1]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

df.columns = df.columns.str.strip()

sorted_fare = df.sort_values("fare", ascending=False)

print(sorted_fare.head())

     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
258         1       1  female  35.0      0      0  512.3292        C  First
737         1       1    male  35.0      0      0  512.3292        C  First
679         1       1    male  36.0      0      1  512.3292        C  First
88          1       1  female  23.0      3      2  263.0000        S  First
27          0       1    male  19.0      3      2  263.0000        S  First

       who  adult_male deck  embark_town alive  alone
258  woman       False  NaN    Cherbourg   yes   True
737    man        True    B    Cherbourg   yes   True
679    man        True    B    Cherbourg   yes  False
88   woman       False    C  Southampton   yes  False
27     man        True    C  Southampton    no  False

In [2]:
# Set 'who' column as index
df_indexed = df.set_index("who")

print(df_indexed.head())

       survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
who
man           0       3    male  22.0      1      0   7.2500        S  Third
woman         1       1  female  38.0      1      0  71.2833        C  First
woman         1       3  female  26.0      0      0   7.9250        S  Third
woman         1       1  female  35.0      1      0  53.1000        S  First
man           0       3    male  35.0      0      0   8.0500        S  Third

       adult_male deck  embark_town alive  alone
who
man          True  NaN  Southampton    no  False
woman       False    C    Cherbourg   yes  False
woman       False  NaN  Southampton   yes   True
woman       False    C  Southampton   yes  False
man          True  NaN  Southampton    no   True

In [3]:
# Access a row by index
print(df_indexed.loc["man"].head())

import seaborn as sns
import matplotlib.pyplot as plt

     survived  pclass   sex   age  sibsp  parch     fare embarked  class  \
who
man         0       3  male  22.0      1      0   7.2500        S  Third
man         0       3  male  35.0      0      0   8.0500        S  Third
man         0       3  male   NaN      0      0   8.4583        Q  Third
man         0       1  male  54.0      0      0  51.8625        S  First
man         0       3  male  20.0      0      0   8.0500        S  Third

     adult_male deck  embark_town alive  alone
who
man        True  NaN  Southampton    no  False
man        True  NaN  Southampton    no   True
man        True  NaN   Queenstown    no   True
man        True    E  Southampton    no   True
man        True  NaN  Southampton    no   True