In [1]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Alice", "Charlie"],
    "Age": [25, 30, 25, 35]
}

df_dup = pd.DataFrame(data)

print("Before removing duplicates:")
print(df_dup)

Before removing duplicates:
      Name  Age
0    Alice   25
1      Bob   30
2    Alice   25
3  Charlie   35

In [2]:
df_no_dup = df_dup.drop_duplicates()

print("After removing duplicates:")
print(df_no_dup)

After removing duplicates:
      Name  Age
0    Alice   25
1      Bob   30
3  Charlie   35

In [5]:
import pandas as pd 
import seaborn as sns

In [8]:
# Load Titanic dataset
df = sns.load_dataset("titanic")

In [9]:
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [11]:
print(df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [12]:
df_renamed = df.rename(columns={
    "age": "Age",
    "sex": "Gender",
    "class": "PassengerClass"
})

print(df_renamed.head())

   survived  pclass  Gender   Age  sibsp  parch     fare embarked  \
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

  PassengerClass    who  adult_male deck  embark_town alive  alone
0          Third    man        True  NaN  Southampton    no  False
1          First  woman       False    C    Cherbourg   yes  False
2          Third  woman       False  NaN  Southampton   yes   True
3          First  woman       False    C  Southampton   yes  False
4          Third    man        True  NaN  Southampton    no   True

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [15]:
df['age'] = df['age'].astype(int, errors='ignore')

In [16]:
# Group by gender and calculate average age
avg_age_by_gender = df.groupby("sex")["age"].mean()

print(avg_age_by_gender)

sex
female    27.915709
male      30.726645
Name: age, dtype: float64

In [17]:
# Group by passenger class and calculate survival rate
survival_rate_by_class = df.groupby("class")["survived"].mean()

print(survival_rate_by_class)

class
First     0.629630
Second    0.472826
Third     0.242363
Name: survived, dtype: float64

C:\Users\AMIT PAUL\AppData\Local\Temp\ipykernel_14484\1592433876.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_rate_by_class = df.groupby("class")["survived"].mean()

In [19]:
# Group by multiple columns
survival_rate = df.groupby(["sex", "class"])["survived"].mean()

print(survival_rate)

sex     class
female  First     0.968085
        Second    0.921053
        Third     0.500000
male    First     0.368852
        Second    0.157407
        Third     0.135447
Name: survived, dtype: float64

C:\Users\AMIT PAUL\AppData\Local\Temp\ipykernel_14484\886369835.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_rate = df.groupby(["sex", "class"])["survived"].mean()

In [20]:
# Aggregate multiple statistics
agg_stats = df.groupby("class").agg({
    "age": ["mean", "median"],
    "fare": ["mean", "max"]
})

print(agg_stats)

              age              fare
             mean median       mean       max
class
First   38.233441   37.0  84.154687  512.3292
Second  29.877630   29.0  20.662183   73.5000
Third   25.140620   24.0  13.675550   69.5500

C:\Users\AMIT PAUL\AppData\Local\Temp\ipykernel_14484\2916762274.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg_stats = df.groupby("class").agg({

In [8]:
import pandas as pd

# Create DataFrame
data = {
    "Name": ["Alice", "Bob", "Alice", "Charlie"],
    "Age": [25, 30, 25, 35]
}

df = pd.DataFrame(data)

# Sort by age
sorted_age = df.sort_values("Age")

print(sorted_age.head())

      Name  Age
0    Alice   25
2    Alice   25
1      Bob   30
3  Charlie   35

In [4]:
# Sort by age
sorted_age = df.sort_values("Age")

print(sorted_age.head())

      Name  Age
0    Alice   25
2    Alice   25
1      Bob   30
3  Charlie   35

In [9]:
print(df.columns)

Index(['Name', 'Age'], dtype='object')